@import url('https://fonts.googleapis.com/css?family=Mina');
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
#history{
    color:rgb(228, 44, 228);
    font-family:"Rammetto One";
    font-size:32px;
    margin:30px auto;
}
#arang{
    color:rgb(36, 177, 95);
    font-size:20px;
    
}
#video{
    font-family:"mina";
    color:cornflowerblue;

    
}